body {
  background: linear-gradient(130deg, #00225b, #000a3d);
  font-family: "Roboto", sans-serif;
  color: #111;
  cursor: pointer; }

#main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden; }
  #main > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    transition: all 0.5s; }
    #main > svg.active {
      top: 5%;
      width: 10%; }
      @media screen and (max-width: 900px) {
        #main > svg.active {
          width: 25%; } }

.slideContainer {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  display: flex;
  transition: left 0.5s; }
  .slideContainer .slide {
    position: relative;
    height: 100%; }
    .slideContainer .slide.active .left > span,
    .slideContainer .slide.active .left h3,
    .slideContainer .slide.active .left p {
      transform: translateX(0);
      opacity: 1; }
    .slideContainer .slide.active .left > span {
      transition-delay: 0.7s; }
    .slideContainer .slide.active .left h3 {
      transition-delay: 0.9s; }
    .slideContainer .slide.active .left p {
      transition-delay: 1.1s; }
    .slideContainer .slide.active .right {
      opacity: 1;
      transform: rotate(30deg) translateX(10%);
      transition: transform 0.2s 0.25s; }
      .slideContainer .slide.active .right img.imgShadow {
        transform: translate(-30%, -44%) scale(0.9);
        filter: blur(8px) brightness(0);
        opacity: 0.5;
        transition: transform 0.2s 0.4s; }
    .slideContainer .slide > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      border-radius: 10px;
      background-color: white;
      backdrop-filter: blur(10px);
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2); }
      @media screen and (min-width: 900px) {
        .slideContainer .slide > div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90%; } }
      .slideContainer .slide > div .blur {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px) grayscale(0.1);
        z-index: -1; }
      .slideContainer .slide > div .left {
        width: 30%; }
        @media screen and (max-width: 900px) {
          .slideContainer .slide > div .left {
            position: absolute;
            left: 50%;
            top: 15%;
            width: 86%;
            transform: translateX(-50%); } }
        .slideContainer .slide > div .left > span,
        .slideContainer .slide > div .left h3,
        .slideContainer .slide > div .left p {
          transform: translateX(-30px);
          opacity: 0;
          transition: transform 0.3s, opacity 0.3s; }
        .slideContainer .slide > div .left > span {
          display: inline-block;
          margin-bottom: 4px;
          font-size: 24px;
          font-family: "Rajdhani", sans-serif;
          color: #c3c3c3; }
          @media screen and (max-width: 900px) {
            .slideContainer .slide > div .left > span {
              font-size: 5vw; } }
        .slideContainer .slide > div .left h3 {
          font-family: "Staatliches", sans-serif;
          font-size: 90px;
          line-height: 0.8em;
          margin-bottom: 40px; }
          @media screen and (max-width: 900px) {
            .slideContainer .slide > div .left h3 {
              font-size: 16vw; } }
          .slideContainer .slide > div .left h3 span {
            position: relative; }
            .slideContainer .slide > div .left h3 span::after {
              content: "";
              position: absolute;
              bottom: 22px;
              left: calc(100% + 10px);
              width: 14px;
              height: 14px;
              background-color: #f37e3b; }
        .slideContainer .slide > div .left p {
          font-size: 16px;
          letter-spacing: 0.001em; }
          @media screen and (max-width: 900px) {
            .slideContainer .slide > div .left p {
              font-size: 3.2vw; } }
      .slideContainer .slide > div .right {
        position: relative;
        width: 50%;
        opacity: 0;
        transition: transform 0.5s, opacity 0.2s; }
        @media screen and (max-width: 900px) {
          .slideContainer .slide > div .right {
            position: absolute;
            top: 0;
            left: 20%;
            width: 100%; } }
        .slideContainer .slide > div .right img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20%; }
          .slideContainer .slide > div .right img.imgShadow {
            filter: brightness(0); }

.swipe {
  position: absolute;
  left: 50%;
  bottom: 60px;
  color: white;
  font-size: 34px;
  animation: swipe 1s infinite; }
  @media screen and (max-width: 900px) {
    .swipe {
      font-size: 24px; } }
  .swipe.active {
    opacity: 0; }
@keyframes swipe {
  0% {
    transform: translateX(-50%); }
  70% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(-50%); } }
.timeLine {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 110%);
  width: 70%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.02);
  box-sizing: border-box;
  padding: 46px 20px;
  overflow: hidden;
  transition: transform 0.3s; }
  .timeLine.active {
    transition: transform 0.3s 0.4s; }
  .timeLine.active, .timeLine:hover {
    transform: translate(-50%, 0); }
  @media screen and (max-width: 900px) {
    .timeLine {
      width: 70%;
      padding: 28px 20px;
      font-size: 3vw; } }
  .timeLine > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80%; }
    .timeLine > ul li img {
      display: none;
      margin: 0 auto;
      cursor: pointer; }
    .timeLine > ul li p {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      color: #dbdbdb;
      cursor: pointer;
      transition: transform 0.3s; }
    .timeLine > ul li:hover p, .timeLine > ul li.active p {
      color: #111;
      font-weight: bold;
      transform: translateY(-10px); }
  .timeLine .timeBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .timeLine .timeBar::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 86%;
      height: 8px;
      transform: translate(-50%, -50%);
      background-color: white;
      z-index: -1;
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.02); }
    .timeLine .timeBar .ball {
      position: relative;
      margin: 0 auto;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.015);
      cursor: pointer; }
      @media screen and (max-width: 900px) {
        .timeLine .timeBar .ball {
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.005); } }
      .timeLine .timeBar .ball::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: #ffa500;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
        transition: transform 0.2s; }
      .timeLine .timeBar .ball:hover::before {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.7); }
    .timeLine .timeBar .currentBall {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      left: -10%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ffa500;
      transform: translate(-50%, -50%) scale(0.7);
      transition: left 0.5s ease-in; }

/*# sourceMappingURL=style.css.map */
