@import "../scss/styleguide.scss";

$navWidth: 140px;
$navMWidth: 80px;
$mainColor: #f7f5f3;
$subColor: #d67b2d;

@mixin slide {
  position: relative;
  top: 0;
  width: 100%;
  height: 500%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  li {
    position: relative;
    width: 100%;
    height: 20%;
    overflow: hidden;
    user-select: none;
  }
}

.lifting {
  transition: top 0.5s cubic-bezier(0.41, 0.01, 1, 1);
}

body {
  position: relative;
  background-color: $mainColor;
  font-family: "Roboto", sans-serif;
}

.current {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 4px;
  height: 100px;
  background-color: #dad7d1;

  @media screen and (max-width: 900px) {
    display: none;
  }

  .now {
    position: absolute;
    width: 100%;
    height: 20%;
    transition: height 0.5s;
    background-color: $subColor;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  z-index: 100;
  font-size: 20px;
  font-weight: 900;
  color: #be2e0e;
  h1 {
    @media screen and (min-width: 900px) {
      width: $navWidth;
    }
    @media screen and (max-width: 900px) {
      width: $navMWidth;
    }
  }
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .scrollspy {
    position: relative;
    height: 100%;
    z-index: 1;
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 900px) {
      width: $navWidth;
    }
    @media screen and (max-width: 900px) {
      width: $navMWidth;
    }
    li {
      cursor: pointer;
      color: #dad7d1;

      &.active,
      &:hover {
        color: $subColor;
        font-weight: bold;
      }

      &.active {
        &::before,
        &::after {
          height: 40px !important;
        }
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &:not(:last-child)::after,
      &:last-child::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 2px;
        height: 0;
        background-color: #dad7d1;
        transition: height 0.5s;
      }
      &:not(:last-child)::after {
        margin-top: 5px;
      }
      &:last-child::before {
        margin-bottom: 5px;
      }
    }
  }

  .slideBox {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;

    img {
      animation: imgMove 60s forwards;
      @keyframes imgMove {
        0% {
          transform: translate(-45%, -50%) scale(1);
        }
        100% {
          transform: translate(-55%, -50%) scale(1.05);
        }
      }
    }

    @media screen and (min-width: 900px) {
      left: $navWidth;
      width: 55%;
    }

    @media screen and (max-width: 900px) {
      background-color: #111;
      left: 0;
      width: 100%;
      img {
        opacity: 0.5;
      }
    }
  }

  .textBox {
    padding-right: 50px;
    box-sizing: border-box;
    @media screen and (min-width: 1600px) {
      width: 35%;
    }
    @media screen and (min-width: 1150px) and (max-width: 1600px) {
      width: 32%;
      padding-right: 40px;
    }
    @media screen and (min-width: 900px) and (max-width: 1150px) {
      width: 28%;
      padding-right: 20px;
    }
    @media screen and (max-width: 900px) {
      width: calc(100% - 100px);
    }
  }
  .box {
    overflow: hidden;
  }

  .slideContainer {
    @include slide;

    li {
      img {
        @include posCenter;

        display: block;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .titleContainer li,
  .subContainer li,
  .descContainer li {
    display: flex;
    align-items: center;
  }

  .titleBox {
    margin-bottom: 14px;
  }
  .titleContainer {
    @include slide;
    transition-delay: 0.2s;

    font-family: "Merriweather", serif;

    li {
      h2 {
        display: inline-block;
        transition: all 0.5s;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #d67b2d;
        color: transparent;

        @media screen and (min-width: 900px) {
          font-size: 5vw;
        }

        @media screen and (max-width: 900px) {
          font-size: 15.5vw;
        }
      }

      &.active {
        h2 {
          @media screen and (min-width: 900px) {
            -webkit-text-stroke-color: #111;
            color: #d67b2d;
          }

          @media screen and (max-width: 900px) {
            -webkit-text-stroke-color: #fff;
            color: white;
          }
        }
      }
    }
  }
  .subContainer {
    @include slide;
    transition-delay: 0.4s;

    font-weight: 500;
    font-family: "Merriweather", serif;
    li {
      h5 {
        width: 100%;
        overflow: hidden;
        span {
          position: relative;
          display: inline-block;

          @media screen and (min-width: 900px) {
            font-size: 1.3vw;
          }

          @media screen and (max-width: 900px) {
            font-size: 4vw;
            color: #eae0d5;
          }

          &::after {
            position: absolute;
            top: 50%;
            left: calc(100% + 10px);
            transform: translateY(-50%);
            content: "";
            display: block;
            width: 500%;
            height: 1px;
            background-color: #666;

            @media screen and (max-width: 900px) {
              background-color: #eae0d5;
            }
          }
        }
      }
    }
  }
  .descContainer {
    @include slide;
    li {
      align-items: flex-start;
    }
    transition-delay: 0.6s;

    p {
      font-weight: 100;
      font-family: "Roboto", sans-serif;
      letter-spacing: 0.003em;
      line-height: 1.5em;

      @media screen and (min-width: 900px) {
        font-size: 0.8vw;
      }

      @media screen and (max-width: 900px) {
        color: #f1f1f1;
        padding-right: 20px;
        box-sizing: border-box;
        font-size: 3vw;
      }
    }
  }
}

.mDown {
  position: fixed;
  bottom: 20px;
  left: calc(50% + 40px);
  transform: translateX(-50%);
  z-index: 100;
  color: white;
  font-size: 4vw;
  animation: move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;

  @media screen and (min-width: 900px) {
    display: none;
  }

  @keyframes move {
    0% {
      bottom: 20px;
    }
    70% {
      bottom: 30px;
    }
    100% {
      bottom: 20px;
    }
  }
}
