:root {
  --logoSize: 300px;
  @media screen and (max-width: 900px) {
    --logoSize: 90%;
  }
  --border: 1px solid rgba(255, 255, 255, 0.2);
}
body {
  font-family: "Montserrat", sans-serif;
  color: white;
}
@mixin maxSize {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid2 {
  width: var(--logoSize);
}
.grid3 {
  width: calc(100% - var(--logoSize));
}

#page {
  z-index: 11;
  li {
    position: relative;
    background-color: black;
    transform: scaleY(0);
    transform-origin: center top;
    transition: transform 0.5s;

    &.grid2 {
      transition-delay: 0.2s;
    }
    &.grid3 {
      transition-delay: 0.4s;
    }
    &.grid4 {
      transition-delay: 0.6s;
    }
  }
  &.active {
    z-index: 11;
    li {
      transform: scaleY(1);
      transform-origin: center bottom;
    }
  }
}

#grid {
  background-image: url(https://raw.githubusercontent.com/nyangmeonggood/mains/master/grider/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;

  > ul {
    li {
      border: var(--border);
      border-top: none;
      border-bottom: none;
    }
    .grid3 {
      border-left: 0;
    }
  }
}
#page,
#grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > li,
  > ul {
    height: 100%;
  }

  > li {
    width: 5%;
  }
  > ul {
    @include maxSize;
    li {
      height: 100%;
      box-sizing: border-box;
    }
  }
}

header,
footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 140px;
  z-index: 1;

  @media screen and (max-width: 900px) {
    height: 80px;
  }
  > ul {
    @include maxSize;

    > li {
      height: 100%;
      &.grid2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

header {
  top: 0;
  border-bottom: var(--border);

  &.active {
    .ham {
      span {
        &:nth-of-type(1) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-of-type(2) {
          display: none;
        }
        &:nth-of-type(3) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
    .m {
      display: flex;
    }
  }

  > ul {
    li {
      &.grid2 {
        &:hover {
          background-color: black;
          cursor: pointer;
        }
        font-weight: bold;
      }
      @media screen and (min-width: 900px) {
        .m,
        .ham {
          display: none;
        }
        .pc {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          li {
            margin: 0 20px;
            cursor: pointer;
            &:hover {
              transform: translateY(-4px) scale(1.01);
            }
          }
        }
      }
      @media screen and (max-width: 900px) {
        .pc {
          display: none;
        }
        .ham {
          position: relative;
          width: 80%;
          height: 100%;
          margin: 0 auto;
          z-index: 1000;

          span {
            position: absolute;
            top: 50%;
            left: 50%;
            display: inline-block;
            width: 80%;
            height: 2px;
            background-color: white;

            &:nth-of-type(1) {
              transform: translate(-50%, -8px);
            }
            &:nth-of-type(2) {
              transform: translate(-50%, 0);
            }
            &:nth-of-type(3) {
              transform: translate(-50%, 8px);
            }
          }
        }
        .m {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          z-index: 100;
          background-color: black;
          display: none;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          font-weight: bold;
          li {
            font-size: 1.5em;
          }
          li:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

footer {
  bottom: 0;
  border-top: var(--border);

  ul {
    li {
      &.grid2 {
        font-size: 0.9em;
        line-height: 1.5em;
        letter-spacing: -0.05em;
        padding-left: 12px;
        box-sizing: border-box;

        &:hover {
          background-color: white;
          color: #111;
        }

        a {
          display: contents;
          font-weight: bold;
        }
      }
    }
  }
}

#main {
  position: relative;
  width: 100%;
  height: 100%;

  div.part {
    display: none;
    position: absolute;
    top: 50%;
    left: calc(5% + 20px);
    transform: translateY(-50%);

    @media screen and (max-width: 900px) {
      width: 70%;
    }

    h2 {
      font-size: 3.5em;
      font-weight: bold;
      line-height: 1.3em;
      letter-spacing: -0.05em;
      margin-bottom: 30px;

      @media screen and (max-width: 900px) {
        font-size: 2.5em;
        line-height: 1em;
      }
    }

    p {
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.3em;
      letter-spacing: 0.05em;

      @media screen and (max-width: 900px) {
        font-size: 0.9em;
        br.pc {
          display: none;
        }
      }
    }

    &.active {
      display: block;
      transform: translateY(-50%);
    }
  }

  .scrollspy {
    position: absolute;
    top: 50%;
    right: calc(2% + 20px);
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 900px) {
      right: 4%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      > div {
        width: 4px;
        cursor: pointer;
        transition: width 0.5s;
      }
    }

    .current,
    .total {
      color: white;
      writing-mode: vertical-lr;
    }

    > div {
      width: 1px;
      height: 100px;
      margin: 10px 0;
      background-color: rgba(255, 255, 255, 0.3);

      > div {
        width: 100%;
        height: 0;
        background-color: white;
      }
    }
  }
}
