@mixin posCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
* {
  user-select: none;
}
.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  font-family: "Roboto", sans-serif, "SF Pro KR", "SF Pro Display",
    "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum",
    "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  .left,
  .right {
    overflow: hidden;

    position: relative;
    height: 100%;

    > ul > li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &.active {
        z-index: 10;
      }
    }
  }
}

.main > .left {
  width: 35%;
  background-color: #dfe6e9;
  .textSlide {
    @include posCenter;
    width: 90%;
    height: 60%;
    background-color: inherit;
    color: white;
    li {
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: inherit;
      h2 {
        font-size: 70px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: -2em;
        transition: letter-spacing 0.5s;
      }
      span {
        color: #dbdbdb;
        display: inline-block;
        margin-bottom: 40px;
      }
      p {
        letter-spacing: -0.01em;
        font-size: 18px;
        line-height: 1.5em;
      }
      button {
        font-weight: bold;
        color: white;
        padding: 20px 40px;
        border-radius: 60px;
      }

      &.active {
        h2 {
          letter-spacing: -0.01em;
          transition-delay: 0.3s;
        }
      }
    }
  }
}
.main > .right {
  width: 65%;
  .imgSlide {
    li {
      background-color: white;

      &:hover {
        img {
          transform: translate(-50%, -50%) rotateY(180deg);
          opacity: 0.2;
          z-index: 0;
        }
        h2 {
          transform: translate(-50%, -50%) rotateY(0deg);
          opacity: 1;
          z-index: 1;
          filter: grayscale(0);
        }
      }

      img {
        @include posCenter;
        display: block;
        width: 50%;
        z-index: 1;
        backface-visibility: visible;
      }

      h2 {
        @include posCenter;
        width: 100%;
        font-size: 14vw;
        font-weight: 900;
        word-break: break-all;
        text-transform: uppercase;
        text-align: center;
        backface-visibility: visible;
        line-height: 0.9em;
        transform: translate(-50%, -50%) rotateY(180deg);
        opacity: 0.2;
        filter: grayscale(1) blur(10px);
      }

      img,
      h2 {
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-property: opacity, transform;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    position: relative;
    width: 100%;
    display: block;

    > .left,
    > .right {
      width: 100% !important;
    }

    > .left {
      background-color: rgba(0, 0, 0, 0.3) !important;
    }

    > .right {
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
    }

    > .left .textSlide,
    > .left .textSlide li {
      background-color: initial;
    }

    > .left .textSlide li {
      opacity: 0;
      p {
        margin-bottom: 20px;
      }
      > button {
        background-color: white;
        padding: 10px 20px;
      }

      &.active {
        opacity: 1;
      }
      h2 {
        font-size: 3.5em;
      }
    }

    > .right .imgSlide li {
      img {
        width: 70%;
      }
    }
  }
}

.scrollspy {
  position: absolute;
  bottom: 30px;
  width: 70%;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  button {
    opacity: 0.4;
    color: white;
    font-size: 20px;

    &:hover {
      opacity: 1;
    }
  }

  > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: #dbdbdb;
      opacity: 0.4;
      cursor: pointer;

      &.active {
        opacity: 1;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
