body {
  position: relative;
  background-color: #111;
  font-family: "Roboto", sans-serif; }
  body svg {
    display: none; }
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.5s;
    z-index: -1;
    opacity: 0.7; }
  body.bg0::after {
    background-image: url(./1.jpg); }
  body.bg1::after {
    background-image: url(./2.jpg); }
  body.bg2::after {
    background-image: url(./3.jpg); }
  body.bg3::after {
    background-image: url(./4.jpg); }

#main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.mainCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px; }
  .mainCircle.active0::before {
    transform: scale(1.08) rotate(0deg); }
  .mainCircle.active1::before {
    transform: scale(1.08) rotate(90deg); }
  .mainCircle.active2::before {
    transform: scale(1.08) rotate(180deg); }
  .mainCircle.active3::before {
    transform: scale(1.08) rotate(270deg); }
  @media screen and (max-width: 1000px) {
    .mainCircle {
      top: 3%;
      left: 88%;
      transform: translate(-50%, 0); } }
  .mainCircle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border: 8px solid #fff9e7;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 100% 0 0 0;
    box-sizing: border-box;
    transform: scale(1.08);
    transform-origin: right bottom;
    transition: transform 0.5s 0.2s; }
  .mainCircle > ul.circles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid #fff9e7; }
    .mainCircle > ul.circles > .circle {
      position: absolute;
      width: 50%;
      height: 50%;
      border: 2px solid transparent;
      box-sizing: border-box;
      cursor: pointer; }
      .mainCircle > ul.circles > .circle.circle1 {
        top: 0;
        left: 0;
        border-radius: 100% 0 0 0; }
        .mainCircle > ul.circles > .circle.circle1.active, .mainCircle > ul.circles > .circle.circle1:hover {
          border-top-color: #fff9e7; }
      .mainCircle > ul.circles > .circle.circle2 {
        top: 0;
        right: 0;
        border-radius: 0 100% 0 0; }
        .mainCircle > ul.circles > .circle.circle2.active, .mainCircle > ul.circles > .circle.circle2:hover {
          border-right-color: #fff9e7; }
      .mainCircle > ul.circles > .circle.circle3 {
        bottom: 0;
        right: 0;
        border-radius: 0 0 100% 0; }
        .mainCircle > ul.circles > .circle.circle3.active, .mainCircle > ul.circles > .circle.circle3:hover {
          border-bottom-color: #fff9e7; }
      .mainCircle > ul.circles > .circle.circle4 {
        bottom: 0;
        left: 0;
        border-radius: 0 0 0 100%; }
        .mainCircle > ul.circles > .circle.circle4.active, .mainCircle > ul.circles > .circle.circle4:hover {
          border-left-color: #fff9e7; }
  .mainCircle .textBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center; }
    .mainCircle .textBox h2 {
      font-size: 100px;
      text-transform: uppercase; }
    .mainCircle .textBox p {
      font-size: 16px;
      font-weight: 100;
      color: #f0f0f0; }
    @media screen and (max-width: 1000px) {
      .mainCircle .textBox h2 {
        font-size: 3.4vw; }
      .mainCircle .textBox p {
        display: none; } }

.slideContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 1s 0.2s;
  z-index: -1;
  width: calc(100% + 2 * 100vh);
  height: calc(100% + 2 * 100vw); }
  .slideContainer > .slide {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 1000px) {
      .slideContainer > .slide {
        flex-direction: column-reverse; } }
    .slideContainer > .slide.active .left,
    .slideContainer > .slide.active .right {
      opacity: 1; }
    @media screen and (min-width: 1000px) {
      .slideContainer > .slide.active .left {
        transition: opacity 0.5s 1s; } }
    @media screen and (max-width: 1000px) {
      .slideContainer > .slide.active .left {
        transition: opacity 0.5s 1s; } }
    @media screen and (min-width: 1000px) {
      .slideContainer > .slide.active .right {
        transition: opacity 0.5s 1s; } }
    @media screen and (max-width: 1000px) {
      .slideContainer > .slide.active .right {
        transition: opacity 0.5s 0.7s; } }
    .slideContainer > .slide .left,
    .slideContainer > .slide .right {
      display: flex;
      align-items: center;
      color: white;
      font-size: 1.8vw;
      opacity: 0; }
      @media screen and (min-width: 1000px) {
        .slideContainer > .slide .left,
        .slideContainer > .slide .right {
          width: 50%;
          height: 100%; } }
      @media screen and (max-width: 1000px) {
        .slideContainer > .slide .left,
        .slideContainer > .slide .right {
          width: 100%;
          flex-direction: column-reverse; } }
    .slideContainer > .slide .left {
      position: relative;
      text-align: left;
      justify-content: flex-start; }
      @media screen and (max-width: 1000px) {
        .slideContainer > .slide .left {
          height: 35%; } }
      .slideContainer > .slide .left .box {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
        letter-spacing: 0.01em; }
        @media screen and (min-width: 1000px) {
          .slideContainer > .slide .left .box {
            left: 6%;
            bottom: 5%;
            width: 50%;
            padding: 26px 14px; } }
        @media screen and (max-width: 1000px) {
          .slideContainer > .slide .left .box {
            left: 2.5%;
            bottom: 10%;
            width: 95%;
            padding: 20px 14px; } }
        .slideContainer > .slide .left .box h3 {
          margin-bottom: 16px;
          font-family: "Merriweather", serif;
          text-transform: capitalize; }
          @media screen and (min-width: 1000px) {
            .slideContainer > .slide .left .box h3 {
              font-size: 28px; } }
          @media screen and (max-width: 1000px) {
            .slideContainer > .slide .left .box h3 {
              font-size: 4.5vw; } }
          .slideContainer > .slide .left .box h3::after {
            content: "";
            display: block;
            margin-top: 8px;
            width: 100%;
            height: 1px;
            background-color: white; }
        .slideContainer > .slide .left .box p {
          font-weight: 100;
          line-height: 1.3em; }
          @media screen and (min-width: 1000px) {
            .slideContainer > .slide .left .box p {
              font-size: 14px; } }
          @media screen and (max-width: 1000px) {
            .slideContainer > .slide .left .box p {
              font-size: 3.5vw; } }
    @media screen and (min-width: 1000px) {
      .slideContainer > .slide .right {
        justify-content: flex-end;
        text-align: right; } }
    @media screen and (max-width: 1000px) {
      .slideContainer > .slide .right {
        height: 65%;
        justify-content: end;
        text-align: center; } }
    .slideContainer > .slide .right h3 {
      font-family: "Merriweather", serif; }
      @media screen and (min-width: 1000px) {
        .slideContainer > .slide .right h3 {
          font-size: 38px;
          margin-right: 6%; } }
      @media screen and (max-width: 1000px) {
        .slideContainer > .slide .right h3 {
          font-size: 6.7vw; } }
    .slideContainer > .slide.active {
      opacity: 1;
      z-index: 1; }
    .slideContainer > .slide.slide1 {
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
    .slideContainer > .slide.slide4 {
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%) rotate(90deg); }
    .slideContainer > .slide.slide3 {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%) rotate(-180deg); }
    .slideContainer > .slide.slide2 {
      top: 50%;
      left: 0%;
      transform: translate(-50%, -50%) rotate(-90deg); }

/*# sourceMappingURL=style.css.map */
