$blindColor: rgba(196, 196, 196, 0.4);
body {
  font-family: "Quicksand", sans-serif;

  color: #111;
}

header {
  width: 67.5%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8vw;

  ul {
    width: 66.7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      width: 25%;
      cursor: pointer;

      span {
        transition: 0.2s border;
      }
      &:hover {
        span {
          border-left: 4px solid #806e5b;
          padding-left: 4px;
          box-sizing: border-box;
        }
      }

      @media screen and (max-width: 1000px) {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }

  button {
    width: 16.6%;
    text-align: right;

    @media screen and (max-width: 1000px) {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      i {
        display: none !important;
      }
    }

    .m {
      display: none;

      @media screen and (max-width: 1000px) {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;

        span {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #111;

          &:nth-of-type(1) {
            transform: translateY(8px);
          }
          &:nth-of-type(2) {
            transform: translateY(0);
          }
          &:nth-of-type(3) {
            transform: translateY(-8px);
          }
        }
      }
    }

    input {
      width: 70%;
      margin-right: 16px;
      border: none;
      border-bottom: 2px solid #111;
      outline: none;
      background-color: transparent;

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    width: 90%;
    font-size: 20px;
  }
}

#main,
#blind {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #fff;
  //   background-color: #132742;
  overflow: hidden;
}

#blind {
  width: 90%;
  margin: 0 auto;
  transform-origin: left center;

  > li {
    position: relative;
    height: 100%;
    border-right: 1px solid $blindColor;

    &:first-child {
      border-left: 1px solid $blindColor;
    }

    > div.divLine {
      width: 50%;
      height: 100%;
      border-right: 1px solid $blindColor;
    }
  }

  @media screen and (max-width: 1000px) {
    > li {
      &:nth-of-type(2) {
        border-left: 1px solid $blindColor;
      }
      &.pc {
        display: none;
      }
    }
  }
}

#content {
  position: absolute;
  top: 0;
  height: 100%;

  @media screen and (min-width: 1000px) {
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 1000px) {
    left: 0;
    width: 100%;
  }

  .left,
  .right {
    height: 100%;

    @media screen and (min-width: 1000px) {
      position: relative;
      width: 50%;
    }

    @media screen and (max-width: 1000px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .left {
    @media screen and (max-width: 1000px) {
      z-index: 5;
      left: 5%;
      width: 90%;
    }
    .textBox {
      position: absolute;
      top: 20%;
      left: 25%;
      width: 75%;
      overflow: hidden;

      @media screen and (max-width: 1000px) and (min-width: 750px) {
        top: 10%;
      }

      @media screen and (max-width: 1000px) {
        left: 0%;
        width: 100%;

        h2,
        h6 {
          width: 75%;
        }
      }

      h2,
      h6 {
        position: relative;
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 2.9vw;
        line-height: 1em;
        color: #111;
        // left: -100%;

        @media screen and (max-width: 1000px) {
          font-size: 7.3vw;
        }
      }

      h6 {
        display: flex;
        align-items: center;
        margin-bottom: 3vw;

        @media screen and (max-width: 1000px) {
          margin-bottom: 7vw;
        }

        div,
        span {
          display: inline-block;
        }
        div {
          width: calc(16% - 10px);
          height: 4px;
          margin-right: 10px;
          background-color: #111;
          margin-top: 8px;
        }
      }

      br.m {
        display: none;
      }
      @media screen and (max-width: 1000px) {
        br.pc {
          display: none;
        }
      }
      p {
        position: relative;
        width: 60%;
        font-size: 0.9vw;
        line-height: 1.2em;
        letter-spacing: 0.02em;

        @media screen and (max-width: 1600px) {
          font-size: 1.1vw;
          @media screen and (max-width: 1300px) {
            font-size: 1.4vw;

            @media screen and (max-width: 1000px) {
              width: 90%;
              font-size: 2.7vw;
              word-break: break-all;
              br.m {
                display: block;
              }
            }
          }
        }
      }
    }

    .hover {
      position: absolute;
      left: 25%;
      bottom: 0;
      width: 25%;
      display: flex;
      align-items: center;
      padding: 0 10px;
      box-sizing: border-box;
      font-size: 0.75vw;
      font-weight: 100;
      color: white;
      background-color: black;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;

      b {
        font-weight: 500;
      }

      @media screen and (max-width: 1300px) and (min-width: 1000px) {
        display: none;
      }

      @media screen and (max-width: 1000px) {
        left: 0;
        width: 50%;
        height: initial !important;
        padding: 30px 10px;
        font-size: 2.9vw;
      }

      &:hover {
        color: #806e5b;
        background-color: #c4bbb6;
        border-left: 1px solid $blindColor;
        border-right: 1px solid $blindColor;
        cursor: pointer;
      }
    }
  }

  .right {
    @media screen and (max-width: 1000px) {
      opacity: 0.4;
    }

    .picBox {
      position: absolute;
      top: 35%;
      width: 100%;
      height: 65%;
      overflow: hidden;

      @media screen and (min-width: 1000px) {
        border-radius: 200px 0 0 0;
        right: 25%;
      }

      @media screen and (max-width: 1000px) {
        border-radius: 0 200px 0 0;

        top: 0 !important;
        right: 0%;
        height: 100% !important;
      }

      img {
        display: block;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 0;
      }
    }
  }
}

header {
  li,
  button {
    opacity: 0;
    transform: translateX(-10px);
  }

  &.active {
    li,
    button {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 1s, transform 0.5s;
    }
    li {
      &:nth-of-type(1) {
        transition-delay: 1.2s;
      }
      &:nth-of-type(2) {
        transition-delay: 1.3s;
      }
      &:nth-of-type(3) {
        transition-delay: 1.4s;
      }
      &:nth-of-type(4) {
        transition-delay: 1.5s;
      }
    }
    button {
      transition-delay: 1.6s;
    }
  }
}

#main {
  #blind {
    transform: scaleX(0);
    &,
    li {
      border-color: rgba(196, 196, 196, 1);
    }
  }
  &.active {
    #blind {
      transform: scaleX(1);
      &,
      li {
        border-color: $blindColor;
        transition: transform 1s, border-color 1s 0.5s;
      }
    }
  }

  #content {
    opacity: 0;
    h2,
    h6,
    p {
      left: -105%;
      transform: skewX(-6deg);
    }
    h2,
    h6 {
      transform: skewX(-30deg);
    }
    h6 {
      .bar {
        width: 0;
      }
    }

    .right {
      .picBox {
        img {
          @media screen and (min-width: 1000px) {
            left: 100%;
          }
          @media screen and (max-width: 1000px) {
            right: 100%;
          }
        }
      }
    }

    .hover {
      opacity: 0;
    }

    &.active {
      opacity: 1;
      h2,
      h6,
      p {
        left: 0;
        transform: skewX(0);
      }
      h2 {
        transition: left 0.7s 0.5s, transform 1.5s 0.5s;
      }
      h6 {
        .bar {
          width: calc(16% - 10px);
          transition: width 0.5s 1.7s linear;
        }
        transition: left 1s 0.7s, transform 1.8s 0.7s;
      }
      p {
        &:nth-of-type(1) {
          transition: left 1s 2.8s, transform 1.7s 2.8s;
        }
        &:nth-of-type(2) {
          transition: left 1s 3s, transform 1.7s 3s;
        }
      }

      .right {
        .picBox {
          img {
            @media screen and (min-width: 1000px) {
              left: -30%;
            }
            @media screen and (max-width: 1000px) {
              right: -30%;
            }

            transition: left 2.4s 5.3s;
            @media screen and (max-width: 1000px) {
              transition: right 2.4s 5.3s;
            }

            animation-name: move;
            animation-duration: 20s;
            animation-fill-mode: forwards;
            animation-delay: 8.2s;

            @media screen and (max-width: 1000px) {
              animation-name: moveM;
            }

            @keyframes move {
              from {
                left: -30%;
                transition: initial;
              }
              to {
                left: -60%;
                transition: initial;
              }
            }

            @keyframes moveM {
              from {
                right: -30%;
                transition: initial;
              }
              to {
                right: -60%;
                transition: initial;
              }
            }
          }
        }
      }

      .hover {
        opacity: 1;
        transition: opacity 0.8s 4.5s;
      }
    }
  }
}
