body {
  cursor: grab;
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: white;

  &:active {
    cursor: grabbing;
  }

  &.active {
    #main {
      opacity: 0;

      button {
        cursor: none;
      }
    }

    header,
    .title {
      opacity: 0;
    }
  }
}

.title {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1vw;
  text-transform: capitalize;

  @media screen and (min-width: 900px) and (max-width: 1200px) {
    font-size: 2vw;
  }

  @media screen and (max-width: 900px) {
    font-size: 3vw;
  }
}

header {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 100;
  width: 80%;
  max-width: 1000px;
  color: #fff;
  transition: opacity 0.5s 0.2s;

  ul {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding: 0 20px;
      box-sizing: border-box;

      &:not(:last-child) {
        border-right: 1px solid #fff;
      }
    }
  }
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main {
  position: absolute;
  width: 90%;
  max-width: 550px;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 24px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, transparent 69%, white 31%);
  transition: opacity 0.5s;

  .expo,
  .textBox {
    background-color: white;
  }
}

.expo {
  width: 100%;
  height: 70%;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    calc(0% + 40px) 100%,
    calc(0% + 39px) calc(0% + 40px),
    calc(100% - 40px) calc(0% + 40px),
    calc(100% - 40px) calc(100% - 14px),
    calc(0% + 40px) calc(100% - 14px),
    calc(0% + 40px) 100%,
    100% 100%,
    100% 0%
  );
}

.textBox {
  width: 100%;
  height: 30%;
  color: #111;
  box-sizing: border-box;
  padding: 0 40px;

  .name {
    margin-bottom: 18px;
    font-size: 50px;
    font-weight: 800;
    text-transform: capitalize;

    @media screen and (max-width: 1000px) {
      font-size: 7vw;
    }
  }

  p {
    margin-bottom: 16px;
    line-height: 1.3em;

    @media screen and (max-width: 600px) {
      font-size: 2.7vw;
    }
  }

  button {
    padding: 8px 10px;
    box-sizing: border-box;
    background-color: #efeded;

    @media screen and (max-width: 600px) {
      font-size: 2.7vw;
    }

    &:first-of-type {
      margin-right: 4px;
    }
  }
}

.changeBox {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.3s ease-in;
  &.active {
    transform: scaleX(1);
    transform-origin: left center;
  }
}
