@import "../scss/styleguide.scss";

body {
  background-image: url(./bg.jpg);
  background-color: #505050;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  font-family: "Poppins", sans-serif;
  * {
    user-select: none;
  }
}

#main {
  @include posCenter;
  width: calc(100% - 100px);
  height: calc(100% - 100px);

  .corners {
    @include posCenter;
    width: 100%;
    height: 100%;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;

    .corner {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid #f0f0f0;
      background-color: #6f6f6f;
      transform: translate(-50%, -50%);
      box-sizing: border-box;

      &.corner1 {
        top: 0;
        left: 0;
      }
      &.corner2 {
        top: 0;
        left: 100%;
      }
      &.corner3 {
        top: 100%;
        left: 0;
      }
      &.corner4 {
        top: 100%;
        left: 100%;
      }
    }
  }
}

.textBox {
  @include posCenter;
  width: 100%;
  z-index: 1;
  text-align: center;

  h2 {
    font-family: "Big Shoulders Stencil Text", cursive;
    color: #f0f0f0;
    font-size: 80px;

    @media screen and (max-width: 600px) {
      font-size: 14vw;
    }

    span {
      display: inline-block;
      animation: spin 3s infinite;
      transform-origin: center;

      @keyframes spin {
        0% {
          transform: rotate(0);
        }
        50% {
          transform: rotate(360deg);
        }
        100% {
          transform: rotate(1080deg);
        }
      }
    }
  }
  h5 {
    color: #dbdbdb;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 30px;

    @media screen and (max-width: 600px) {
      font-size: 2.8vw;
    }
  }

  .inputbox {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 14px 10px 14px 36px;
    border-radius: 100px;
    color: #111;

    @media screen and (max-width: 600px) {
      width: 60%;
    }

    input {
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid #b5b5b5;
      margin-right: 10px;
      padding: 4px 14px;
      box-sizing: border-box;

      @media screen and (max-width: 600px) {
        width: calc(100% - 60px);
      }
    }

    button {
      width: 40px;
      height: 40px;
      background-color: #dbdbdb;
      border-radius: 100%;
      &:active {
        transform: scale(0.95);
        background-color: #a07e39;
        color: #f0f0f0;
      }
    }
  }
}

.cursor {
  font-family: "Big Shoulders Stencil Text", "Do Hyeon", sans-serif;

  &.color {
    li {
      &:nth-of-type(1) {
        color: transparent;
      }
      &:not(:nth-of-type(1)) {
        -webkit-text-stroke-color: transparent;
      }
    }
  }

  &.active {
    li {
      opacity: 1 !important;
    }
  }
  li {
    @include posCenter;
    transform: translate(0, -50%);
    position: fixed;
    will-change: top, left;
    font-size: 50px;
    &:nth-of-type(1) {
      color: #f0f0f0;
    }
    &:not(:nth-of-type(1)) {
      opacity: 0;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: #f0f0f0;
      color: transparent;
    }
  }
}
