$mainColor: #0058ab;
$subColor: #fbd914;
$radius: 12px;
// $mainColor: #313f62;  // $subColor: #f7ece8;

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $mainColor;

  @media screen and (min-width: 900px) {
    > .left,
    > .right {
      height: 100%;
    }
    &.active {
      > .left,
      > .right {
        transition: width 0.8s cubic-bezier(0.79, 0.16, 0.52, 0.39);
        transition-delay: 1s;
      }
      > .left {
        width: 33.33%;
      }
      > .right {
        width: 66.66%;

        .pic {
          width: 70%;
          transition-delay: 1.3s;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;

    &.active {
      > .left,
      > .right {
        transition: all 0.8s;
        transition-delay: 1s;
      }
      > .left {
        height: 40%;
      }
      > .right {
        height: 60%;

        .pic {
          top: 0;
          transition: all 0.8s;
          transition-delay: 1.3s;
        }
      }
    }
  }

  > .left,
  > .right {
    position: relative;
  }
}

.main > .left {
  width: 90%;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-left: 5%;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e55039;
    width: 4px;
    height: 60px;
  }

  span {
    padding: 0 0.3em;
    font-family: "Roboto", sans-serif;
    font-size: 1.7em;
    color: white;

    @media screen and (min-width: 900px) and (max-width: 1350px) {
      font-size: 1.1em;
    }
  }

  h2 {
    font-family: "Bungee", cursive;
    font-size: 11em;
    color: $subColor;
    line-height: 1em;
    margin-bottom: 40px;

    @media screen and (min-width: 900px) and (max-width: 1350px) {
      font-size: 7.3em;
    }
  }

  .slide {
    margin-right: 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    width: 70%;
    height: 140px;

    li {
      width: 32%;
      height: 100%;
      background-color: black;
      border-radius: $radius;
      transform: scale(0);
      transition: transform 0.5s;

      cursor: pointer;

      &:nth-child(1) {
        background-image: url(https://raw.githubusercontent.com/nyangmeonggood/mains/master/PicChangedByList/1.jpg);
      }
      &:nth-child(2) {
        background-image: url(https://raw.githubusercontent.com/nyangmeonggood/mains/master/PicChangedByList/2.jpg);
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        background-image: url(https://raw.githubusercontent.com/nyangmeonggood/mains/master/PicChangedByList/3.jpg);
        transition-delay: 0.4s;
      }
      &:hover {
        background-blend-mode: initial;
      }

      background-blend-mode: luminosity;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}
.main > .right {
  width: 10%;
  background: linear-gradient(
    to right,
    $mainColor 50%,
    $subColor 50%,
    $subColor 100%
  );

  .pic {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.5s;
    width: 0;
    height: 80%;
    background-color: white;
    border-radius: $radius $radius 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    animation-name: move;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes move {
    from {
      background-position: 30% center;
    }
    to {
      background-position: 60% center;
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    > .left,
    > .right {
      width: 100%;
      background: linear-gradient(
        to right,
        #0058ab 90%,
        #fbd914 90%,
        #fbd914 100%
      );
    }

    .left {
      height: 95%;
      align-items: flex-start;
      justify-content: flex-end;

      span {
        display: inline-block;
        margin-bottom: 4px;
        font-size: 1em;
      }
      h2 {
        font-size: 4em;
        margin-bottom: 30px;
      }
      .slide {
        width: 85%;
        height: 70px;
        margin-bottom: 20px;
        li {
          width: 31%;
        }
      }

      &::after {
        right: 10%;
      }
    }

    .right {
      height: 5%;
      overflow: hidden;

      .pic {
        top: 100%;
        left: 45%;
        width: 80%;
        height: 100%;
      }
    }
  }
}
